jupyterhub==5.3.0
jupyterlab
notebook
jupyter-server
jupyter-enterprise-gateway==3.2.2
jupyter-kernel-gateway

ipython
ipykernel

ray==2.46.0

pandas
numpy
matplotlib
seaborn
plotly
scikit-learn

tornado
pyzmq
tqdm
nbconvert
ipywidgets