jupyterhub==5.3.0
jupyterlab
notebook
jupyter-server
jupyter-enterprise-gateway==3.2.2
jupyter-kernel-gateway

ipython
ipykernel
nbconvert
ipywidgets

ray==2.46.0

pandas
numpy
matplotlib
seaborn
plotly
scikit-learn

tornado
pyzmq
tqdm
nbconvert
ipywidgets

# GPU Deps
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1