# Terraform
.terraformrc
terraform.rc

# Kubernetes
token
kubeconfig

# VM Config
.cloud_init.yml
.cloud_init.tftpl
.vagrant/

# Python
env/
venv/
.env/
.venv/
__pycache__/

# Flask
migrations/

# Personal Lab
netics
rpl

# Environment file
.env

# Old Project
infra/
qemu/

# Docker
data/

# Log & Secret file
*.log
*.secret
ssh_keys/

# Database
*.sql
*.sqlite

