# Terraform
.terraformrc
terraform.rc

# K3S
token
kubeconfig

# VM Config
.cloud_init.yml
.cloud_init.tftpl
.vagrant/

# Python
env/
venv/
.env/
.venv/
__pycache__

# Personal Lab
netics
rpl

# Environment file
.env

# Old Project
infra/

# Docker
data/

# Log & Secret file
*.log
*.secret

# Database
*.sql
*.sqlite

